<header class="container-fluid navbar navbar-light bg-dark text-light">
  <div class="container">
    <h3 class="navbar-brand text-light">Handlooms</h3>
    <nav>
        <ul class="nav">
            <li class="nav-item float-left "><a href="#!/home" class="nav-link text-light">Home</a></li>
            <li class="nav-item float-left "><a href="#!/men" class="nav-link text-light">Men</a></li>
            <li class="nav-item float-left "><a href="#!/women" class="nav-link text-light">Women</a></li>
            <li class="nav-item float-left "><a href="#!/about" class="nav-link text-light">About</a></li>
        </ul>
    </nav>
  </div>
</header>
